*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #666;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  line-height: 1.2;
  min-height: 100%;
  overflow-x: hidden;
  padding-bottom: 20px;
  -webkit-text-size-adjust: 100%;
}

span {
  font-size: 21px;
}
