*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
  min-height: 100%;
  overflow-x: hidden;
  /* stylelint-disable-next-line property-no-vendor-prefix*/
  -webkit-text-size-adjust: 100%;
}
