@import '~Styles/imports';

.Avatar {
  background-color: $color-bg-main;
  border-radius: 50%;
  display: inline-block;
  font-family: $font-family-accent;
  font-size: $font-size-xxl;
  font-weight: $font-weight-medium;
  line-height: $avatar-line-height;
  position: relative;
  text-align: center;

  img.Avatar__Image {
    height: 100%;
    width: 100%;
  }

  &__inner {
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
  }
}

.Avatar:before {
  background: transparent;
  border-top-width: 0;
  content: '';
  position: absolute;
  z-index: -1;
  @include border($color-border-main);
}

.Avatar--default {
  font-size: $font-size-l;
  height: $avatar-height-default;
  line-height: $avatar-height-default - 2 * $border-width-default;
  width: $avatar-width-default;

  .Avatar__inner {
    height: inherit;
    width: inherit;
  }

  &.Avatar:before {
    border-radius: 0 0 $avatar-semicircle-height-default $avatar-semicircle-height-default;
    bottom: -$avatar-semicircle-margin-default;
    height: $avatar-semicircle-height-default;
    left: -$avatar-semicircle-margin-default;
    right: -$avatar-semicircle-margin-default;
  }
}

.Avatar--large {
  font-size: $font-size-xxl;
  height: $avatar-height-large;
  line-height: $avatar-height-large - 2 * $border-width-default;
  width: $avatar-width-large;

  .Avatar__inner {
    height: inherit;
    width: inherit;
  }

  &.Avatar:before {
    border-radius: 0 0 $avatar-semicircle-height-large $avatar-semicircle-height-large;
    bottom: -$avatar-semicircle-margin-large;
    height: $avatar-semicircle-height-large;
    left: -$avatar-semicircle-margin-large;
    right: -$avatar-semicircle-margin-large;
  }
}

.Avatar--small {
  font-size: $font-size-base;
  height: $avatar-height-small;
  line-height: $avatar-height-small - 2 * $border-width-default;
  width: $avatar-width-small;

  .Avatar__inner {
    height: inherit;
    width: inherit;
  }

  &.Avatar:before {
    border-radius: 0 0 $avatar-semicircle-height-small $avatar-semicircle-height-small;
    bottom: -$avatar-semicircle-margin-small;
    height: $avatar-semicircle-height-small;
    left: -$avatar-semicircle-margin-small;
    right: -$avatar-semicircle-margin-small;
  }
}
