@import '~Styles/imports';

$susy: (
    flow: ltr,
    math: fluid,
    output: float,
    gutter-position: after,
    container: $container-base-width,
    container-position: center,
    columns: 12,
    gutters: 1/2.3,
    column-width: false,
    global-box-sizing: border-box,
    last-flow: to,
    debug: (
      image: show,
      color: rgba(#66f, .25),
      output: background,
      toggle: top right,
    ),
    use-custom: (
      background-image: true,
      background-options: false,
      box-sizing: true,
      clearfix: true,
      rem: true,
    )
  );

.FormattedMarkdown {

  & h2 {
    font-family: $font-family-accent;
    font-weight: $font-weight-medium;
    font-size: $pt-font-size-small-3;
    color: $color-accent;
  }

  &--leftBlock {

    & h2 {
      margin-bottom: $become-title-margin-bottom;
      margin-top: $become-title-margin-top-s;
      text-align: center;

      @include susy-breakpoint($breakpoint-width-m) {
        font-size: $pt-font-size-large-2;
      }

      @include susy-breakpoint($breakpoint-width-l) {
        text-align: left;
        font-size: $font-size-xxxl;
        margin-top: 0;
      }
    }

    & p {
      margin-bottom: $become-text-margin-bottom;
      text-align: center;

      @include susy-breakpoint($breakpoint-width-l) {
        text-align: left;
      }
    }

    & a {
      color: $color-accent;

      &:hover {
        color: $color-text-main;
      }
    }
  }

  &--rightBlock {

    & h2 {
      margin-bottom: $become-title-margin-bottom;
      margin-top: $become-title-margin-top-s;
      text-align: center;

      @include susy-breakpoint($breakpoint-width-m) {
        margin-top: 0;
        font-size: $pt-font-size-large-2;
      }

      @include susy-breakpoint($breakpoint-width-l) {
        text-align: right;
        font-size: $font-size-xxxl;
      }
    }

    & p {
      text-align: center;
      margin-bottom: $become-text-margin-bottom;

      @include susy-breakpoint($breakpoint-width-l) {
        text-align: right;
      }
    }

    & a {
      color: $color-accent;

      &:hover {
        color: $color-text-main;
      }
    }
  }

  &--feature {
    text-align: left;

    & h3 {
      font-size: $font-size-xl;
      margin-bottom: $about-block-title-margin-bottom;
      position: relative;
      margin-left: 50%;

      @include susy-breakpoint($breakpoint-width-s) {
        margin-left: 40%;
      }

      @include susy-breakpoint($breakpoint-width-about-s-to-m) {
        margin-left: 47%;
      }

      @include susy-breakpoint($breakpoint-width-about-m-to-l) {
        margin-left: 45%;
      }

      @include susy-breakpoint($breakpoint-width-m){
        margin-left: 40%;
      }

      @include susy-breakpoint($breakpoint-width-l){
        margin-left: $about-group-title-margin-left;
      }

      &:before {
        content: '';
        height: $hr-height;
        width: $hr-width;
        background-color: $color-bg-accent;
        position: absolute;
        bottom: $hr-bottom-position;
        left: 0%;
      }
    }

    & p {
      margin-bottom: 0;
      text-align: center;

      @include susy-breakpoint($breakpoint-width-l) {
        text-align: left;
      }
    }
  }

  &--info-content {
    & h1 {
      font-size: $font-size-xxxl;
      margin-bottom: $section-title-margin-bottom;
      text-align: left;
    }

    h2,
    h3 {
      font-size: $pt-font-size-small-3;
      color: $color-text-main;
      margin-bottom: $section-text-margin-bottom;
      margin-top: $info-caption-margin-top;
    }

    & p {
      margin-bottom: $section-text-margin-bottom;

      &:last-child {
        line-height: 1.2em;
        margin: $info-caption-margin-top-large 0 0;
        text-align: center;
        font-family: $font-family-primary;
        font-size: $font-size-xl;
      }
    }
  }

  &--about-us {
    & h1 {
      font-size: $font-size-xxxl;
      margin-bottom: $section-title-margin-bottom;
      text-align: left;
    }

    & h2,
    h3 {
      color: $color-text-main;
      margin-bottom: $section-text-margin-bottom;
      margin-top: $info-caption-margin-top;
    }

    & p {
      margin-bottom: $section-text-margin-bottom;
    }
  }
}