@import '~Styles/imports';

.ErrorMessage {
  color: $color-warning;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  margin-bottom: $error-message-margin-bottom;

  &--invisible {
    display: none;
  }

  &--visible {
    display: block;
  }
}
