@import '~Styles/imports';

.ModalTitle {
  font-family: $font-family-accent;
  font-size: $font-size-xxl;
  font-weight: $font-weight-medium;

  width: 81%;
  margin: 0;
  line-height: $modal-title-line-height;

  color: $color-text-main;
  @include border-right(solid, $color-border-main);
}