@import '~Styles/imports';


.CountdownTimer {
  color: #fff;
  display: none;
  font-size: $font-size-xl;

  @include susy-breakpoint($breakpoint-width-m) {
    display: block;
  }

  &__block {
    float: left;
    margin-right: $timer-block-margin;
    width: $timer-block-width;

    .CountdownTimer__title {
      color: #fff;
      font-family: $font-family-accent;
      font-weight: $font-weight-medium;
      text-align: center;
    }

    .CountdownTimer__digits {
      .CountdownTimer__digit {
        background-color: rgba(42, 42, 42, 0.5);
        border-radius: $timer-digit-border-radius;
        display: inline-block;
        font-family: $font-family-accent;
        font-size: $pt-font-size-small-3;
        font-weight: $font-weight-regular;
        height: $timer-digit-height;
        margin-right: $timer-digit-margin;
        padding-top: $timer-digit-padding-top;
        text-align: center;
        width: $timer-digit-width;

        & + span {
          margin-right: 0;
        }
      }
    }
  }
}
